# ***Global Terrosism Dataset - Transforming and Loading the Data***
---

### **Setting the environment**

In [1]:
import os
print(os.getcwd())
try:
    os.chdir('../../GlobalTerrorismAnalysis_ETL')
except FileNotFoundError:
    print("""
        Posiblemente ya ejecutaste este bloque dos o más veces o tal vez el directorio está incorrecto. 
        ¿Ya ejecutaste este bloque antes y funcionó? Recuerda no ejecutarlo de nuevo. 
        ¿Estás en el directorio incorrecto? Puedes cambiarlo. 
        Recuerda el directorio donde estás:
        """)
print(os.getcwd())

/home/mitgar14/ETL/GlobalTerrorismAnalysis_ETL/notebooks
/home/mitgar14/ETL/GlobalTerrorismAnalysis_ETL

### **Libraries**

In [2]:
import pandas as pd
from src.database.db_operations import creating_engine, load_clean_data

### **Creating the engine and reading the data from the table**

In [3]:
engine = creating_engine()
query = 'SELECT * FROM global_terrorism_db_raw'

10/01/2024 06:32:21 PM Engine created. You can now connect to the database.

In [4]:
df = pd.read_sql_query(query, engine)
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,201707070030,2017,7,7,None,1,None,160,Philippines,5,...,None,"""Militiamen released by NPA rebels.(Mindanao),...","""Search, rescue mission for 3 militiamen abdu...","""NPA rebels abduct 3 militiamen in Surigao del...",START Primary Collection,0,0,0,0,"201707070030, 201707080017"
1,201707070031,2017,7,7,None,0,None,153,Pakistan,6,...,None,"""Religious teacher gunned down,"" DAWN Group, J...",None,None,START Primary Collection,-9,-9,0,-9,None
2,201707070032,2017,7,7,2017-07-07 00:00:00,1,None,147,Nigeria,11,...,None,"""One shot as army kill 6 suspected militants i...","""Tension in Sapele over killing of 2 soldiers ...","""Soldier Shot As Militants Ambush Army In Delt...",START Primary Collection,-9,-9,0,-9,None
3,201707080001,2017,7,8,None,0,None,92,India,6,...,"The victims included Captain Parveen, Sepoy Br...","""Kashmir: Captain among three soldiers wounded...","""Kashmir: Three army jawans injured in terrori...","""India: Captain among 3 injured in militant am...",START Primary Collection,-9,-9,0,-9,None
4,201707080002,2017,7,8,None,0,None,60,Egypt,10,...,Casualty numbers conflict across sources. Foll...,"""34 security personnel killed in militant oper...","""Xinhua: 2nd Ld Writethru: 2 Policemen Killed,...","""Two policemen killed, 9 conscripts injured in...",START Primary Collection,-9,-9,0,-9,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201707070021,2017,7,7,None,0,None,209,Turkey,10,...,None,"""PKK attack targets local governor in eastern ...","""PKK attacks district governors vehicle in Tu...",None,START Primary Collection,0,0,0,0,None
181687,201707070024,2017,7,7,None,0,None,110,Lebanon,10,...,None,"""Lebanese Government Authorizes Troops to Act ...",None,None,START Primary Collection,-9,-9,0,-9,None
181688,201707070026,2017,7,7,None,0,None,217,United States,1,...,None,"""Fire Intentionally Set at Dallas LGBT Communi...","""Arsonists Set Fire To Dallas LGBT Center,"" Ne...",None,START Primary Collection,-9,-9,0,-9,None
181689,201707070027,2017,7,7,None,0,None,228,Yemen,10,...,None,"""Yemen army kills senior Al Houthi commander,""...","""Army's snipers kill 10 US-Saudi-paid mercenar...",None,START Primary Collection,0,0,0,0,None
181690,201707070029,2017,7,7,None,0,None,147,Nigeria,11,...,None,"""Unknown gunmen shoot Goodluck Jonathans son-...","""Goodluck Jonathan's Son-in-law Attacked By Gu...","""Former President Jonathan's son in-law Godswi...",START Primary Collection,-9,-9,0,-9,None

## ***Transforming the data***
---

### **Selecting the required columns**

In [5]:
columns_choice = [
    "eventid", "iyear", "imonth", "iday", "extended", "country_txt", "country",
    "region_txt", "region", "city", "latitude", "longitude", "vicinity", "crit1",
    "crit2", "crit3", "doubtterr", "multiple", "success", "suicide", "attacktype1_txt",
    "attacktype1", "targtype1_txt", "targtype1", "natlty1_txt", "natlty1", "gname",
    "guncertain1", "individual", "nperps", "nperpcap", "claimed", "weaptype1_txt",
    "weaptype1", "nkill", "nwound", "property", "ishostkid", "INT_ANY"
]

In [6]:
df = df[columns_choice]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 39 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   extended         181691 non-null  int64
 5   country_txt      181691 non-null  object
 6   country          181691 non-null  int64
 7   region_txt       181691 non-null  object
 8   region           181691 non-null  int64
 9   city             181256 non-null  object
 10  latitude         177135 non-null  float64
 11  longitude        177134 non-null  float64
 12  vicinity         181691 non-null  int64
 13  crit1            181691 non-null  int64
 14  crit2            181691 non-null  int64
 15  crit3            181691 non-null  int64
 16  doubtterr        181690 non-null  float64
 17  multiple         181690 non-null  float64
 18  success          181691 non-null  int64
 19  suicide          181691 non-null  int64
 20  attacktype1_txt  181691 non-null  object
 21  attacktype1      181691 non-null  int64
 22  targtype1_txt    181691 non-null  object
 23  targtype1        181691 non-null  int64
 24  natlty1_txt      180132 non-null  object
 25  natlty1          180132 non-null  float64
 26  gname            181691 non-null  object
 27  guncertain1      181311 non-null  float64
 28  individual       181691 non-null  int64
 29  nperps           110576 non-null  float64
 30  nperpcap         112202 non-null  float64
 31  claimed          115571 non-null  float64
 32  weaptype1_txt    181691 non-null  object
 33  weaptype1        181691 non-null  int64
 34  nkill            171378 non-null  float64
 35  nwound           165380 non-null  float64
 36  property         181691 non-null  int64
 37  ishostkid        181513 non-null  float64
 38  INT_ANY          181691 non-null  int64
dtypes: float64(12), int64(19), object(8)
memory usage: 54.1+ MB

### **Replacing and dropping null values**

In [8]:
df.isnull().sum()

eventid                0
iyear                  0
imonth                 0
iday                   0
extended               0
country_txt            0
country                0
region_txt             0
region                 0
city                 435
latitude            4556
longitude           4557
vicinity               0
crit1                  0
crit2                  0
crit3                  0
doubtterr              1
multiple               1
success                0
suicide                0
attacktype1_txt        0
attacktype1            0
targtype1_txt          0
targtype1              0
natlty1_txt         1559
natlty1             1559
gname                  0
guncertain1          380
individual             0
nperps             71115
nperpcap           69489
claimed            66120
weaptype1_txt          0
weaptype1              0
nkill              10313
nwound             16311
property               0
ishostkid            178
INT_ANY                0
dtype: int64

In [9]:
defect_values = {
    'nperpcap': 0,
    'claimed': 999,
    'nkill': 0,
    'nwound': 0
}

In [10]:
df = df.replace([-9, -99, -999], 999)

In [11]:
df = df.fillna(value=defect_values)

In [12]:
df = df.dropna()
df.shape

(107499, 39)

### **Atypical dates in the iday column**

The iday column has to be inspected, as it has 32 data, which may mean that there is a possible range of days that is out of the normal range of days: **1-31**.

In [13]:
for i in df['iday']:
    if i>31 or i<1:
        print(i)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [14]:
df = df[df['iday'] != 0]
day_count = len(df["iday"].unique())
day_count

31

### **Duplicated rows**

In [15]:
df.duplicated().sum()

0

### **No doubt about the terrorists attacks: cleaning the doubtterr column**

In [16]:
df["doubtterr"].unique()

array([  1.,   0., 999.])

In [17]:
df = df.query("doubtterr == 0").copy()
df['doubtterr'].head()

1    0.0
2    0.0
4    0.0
5    0.0
7    0.0
Name: doubtterr, dtype: float64

The above should be done, since we only want to inquire about attacks that we are 100% sure are terrorist attacks.

### **Creating new criteria for the later dataframe merge process**

In [18]:
df['date'] = pd.to_datetime(df[['iyear', 'imonth', 'iday']].rename(columns={'iyear': 'year', 'imonth': 'month', 'iday': 'day'}))
df['date_country_actor'] = df['date'].astype(str) + df['country_txt'] + df['gname']

## ***Loading the clean data***
---

### **Reviewing our dataframe**

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88379 entries, 1 to 181690
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   eventid             88379 non-null  int64
 1   iyear               88379 non-null  int64
 2   imonth              88379 non-null  int64
 3   iday                88379 non-null  int64
 4   extended            88379 non-null  int64
 5   country_txt         88379 non-null  object
 6   country             88379 non-null  int64
 7   region_txt          88379 non-null  object
 8   region              88379 non-null  int64
 9   city                88379 non-null  object
 10  latitude            88379 non-null  float64
 11  longitude           88379 non-null  float64
 12  vicinity            88379 non-null  int64
 13  crit1               88379 non-null  int64
 14  crit2               88379 non-null  int64
 15  crit3               88379 non-null  int64
 16  doubtterr           88379 non-null  float64
 17  multiple            88379 non-null  float64
 18  success             88379 non-null  int64
 19  suicide             88379 non-null  int64
 20  attacktype1_txt     88379 non-null  object
 21  attacktype1         88379 non-null  int64
 22  targtype1_txt       88379 non-null  object
 23  targtype1           88379 non-null  int64
 24  natlty1_txt         88379 non-null  object
 25  natlty1             88379 non-null  float64
 26  gname               88379 non-null  object
 27  guncertain1         88379 non-null  float64
 28  individual          88379 non-null  int64
 29  nperps              88379 non-null  float64
 30  nperpcap            88379 non-null  float64
 31  claimed             88379 non-null  float64
 32  weaptype1_txt       88379 non-null  object
 33  weaptype1           88379 non-null  int64
 34  nkill               88379 non-null  float64
 35  nwound              88379 non-null  float64
 36  property            88379 non-null  int64
 37  ishostkid           88379 non-null  float64
 38  INT_ANY             88379 non-null  int64
 39  date                88379 non-null  datetime64[ns]
 40  date_country_actor  88379 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(19), object(9)
memory usage: 28.3+ MB

### **Creating the table and loading the data in our PostgreSQL database**

In [20]:
load_clean_data(engine, df, 'global_terrorism_db_cleaned')

10/01/2024 06:34:42 PM Creating table global_terrorism_db_cleaned from Pandas DataFrame

/home/mitgar14/ETL/GlobalTerrorismAnalysis_ETL/src/database/db_operations.py:75: UserWarning: Table global_terrorism_db_cleaned already exists.
  warnings.warn(f"Table {table_name} already exists.")

### **Checking the loaded data**

In [21]:
query = 'SELECT * FROM global_terrorism_db_cleaned'

In [22]:
df_cleaned = pd.read_sql_query(query, engine)
df_cleaned

,eventid,iyear,imonth,iday,extended,country_txt,country,region_txt,region,city,...,claimed,weaptype1_txt,weaptype1,nkill,nwound,property,ishostkid,INT_ANY,date,date_country_actor
0,201707070031,2017,7,7,0,Pakistan,153,South Asia,6,Karachi,...,0.0,Firearms,5,1.0,0.0,0,0.0,999,2017-07-07,2017-07-07PakistanUnknown
1,201707070032,2017,7,7,1,Nigeria,147,Sub-Saharan Africa,11,Sapele,...,1.0,Firearms,5,2.0,1.0,0,1.0,999,2017-07-07,2017-07-07NigeriaUnknown
2,201707080002,2017,7,8,0,Egypt,60,Middle East & North Africa,10,Arish,...,0.0,Explosives,6,4.0,7.0,1,0.0,999,2017-07-08,2017-07-08EgyptUnknown
3,201707080003,2017,7,8,0,Pakistan,153,South Asia,6,Panjgur,...,0.0,Explosives,6,0.0,1.0,0,0.0,999,2017-07-08,2017-07-08PakistanUnknown
4,201707080012,2017,7,8,1,Iraq,95,Middle East & North Africa,10,Jurf al-Sakhar,...,0.0,Unknown,13,20.0,0.0,0,1.0,0,2017-07-08,2017-07-08IraqAsa'ib Ahl al-Haqq
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88374,201707070019,2017,7,7,0,Ukraine,214,Eastern Europe,9,Luhansk,...,0.0,Explosives,6,1.0,5.0,999,0.0,999,2017-07-07,2017-07-07UkraineUnknown
88375,201707070020,2017,7,7,0,Ukraine,214,Eastern Europe,9,Luhansk,...,0.0,Explosives,6,0.0,2.0,999,0.0,999,2017-07-07,2017-07-07UkraineUnknown
88376,201707070021,2017,7,7,0,Turkey,209,Middle East & North Africa,10,Baykan district,...,0.0,Explosives,6,0.0,0.0,1,0.0,0,2017-07-07,2017-07-07TurkeyKurdistan Workers' Party (PKK)
88377,201707070026,2017,7,7,0,United States,217,North America,1,Dallas,...,0.0,Incendiary,8,0.0,0.0,1,0.0,999,2017-07-07,2017-07-07United StatesAnti-LGBT extremists
88378,201707070029,2017,7,7,0,Nigeria,147,Sub-Saharan Africa,11,Calabar,...,0.0,Firearms,5,0.0,1.0,0,0.0,999,2017-07-07,2017-07-07NigeriaUnknown

In [23]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88379 entries, 0 to 88378
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   eventid             88379 non-null  int64
 1   iyear               88379 non-null  int64
 2   imonth              88379 non-null  int64
 3   iday                88379 non-null  int64
 4   extended            88379 non-null  int64
 5   country_txt         88379 non-null  object
 6   country             88379 non-null  int64
 7   region_txt          88379 non-null  object
 8   region              88379 non-null  int64
 9   city                88379 non-null  object
 10  latitude            88379 non-null  float64
 11  longitude           88379 non-null  float64
 12  vicinity            88379 non-null  int64
 13  crit1               88379 non-null  int64
 14  crit2               88379 non-null  int64
 15  crit3               88379 non-null  int64
 16  doubtterr           88379 non-null  float64
 17  multiple            88379 non-null  float64
 18  success             88379 non-null  int64
 19  suicide             88379 non-null  int64
 20  attacktype1_txt     88379 non-null  object
 21  attacktype1         88379 non-null  int64
 22  targtype1_txt       88379 non-null  object
 23  targtype1           88379 non-null  int64
 24  natlty1_txt         88379 non-null  object
 25  natlty1             88379 non-null  float64
 26  gname               88379 non-null  object
 27  guncertain1         88379 non-null  float64
 28  individual          88379 non-null  int64
 29  nperps              88379 non-null  float64
 30  nperpcap            88379 non-null  float64
 31  claimed             88379 non-null  float64
 32  weaptype1_txt       88379 non-null  object
 33  weaptype1           88379 non-null  int64
 34  nkill               88379 non-null  float64
 35  nwound              88379 non-null  float64
 36  property            88379 non-null  int64
 37  ishostkid           88379 non-null  float64
 38  INT_ANY             88379 non-null  int64
 39  date                88379 non-null  datetime64[ns]
 40  date_country_actor  88379 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(19), object(9)
memory usage: 27.6+ MB